/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Web Color Variables */
@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #dedede;
		--bg-color-secondary: #aaa4c6;
		--bg-color-third: #4e4c6a;
		--text-color: #00001a;
		--text-color-secondary: #8087a9;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #00001a;
		--bg-color-secondary: #13142a;
		--bg-color-third: #1a1a33;
		--text-color: #aaa6ca;
		--text-color-secondary: #4e46ca;
	}
}

/* Default Styles */
* {
	box-sizing: border-box;
	border: none;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	outline: none;
	text-decoration: none;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
