/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Web Color Variables */
@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #dedede20;
		--bg-color-secondary: #3d0404;
		--box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
		--text-color: #dedede;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #3d0404;
		--bg-color-secondary: #4b1111;
		--box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
		--text-color: #dedede;
	}
}

/* Default Styles */
* {
	box-sizing: border-box;
	border: none;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	outline: none;
	text-decoration: none;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}
