.heroes-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.hero-card {
	background: var(--bg-color-third);
	border-radius: 5px;
	margin-bottom: 25px;
	position: relative;
	padding: 15px;
	width: 30%;
}

.hero-img {
	height: 150px;
	margin: 0 auto;
	width: 50%;
}

.hero-img img {
	border-radius: 5px;
	height: 100%;
	width: 100%;
}

.hero-data {
	text-align: center;
}

.hero-data h3 {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 15px 0;
	text-transform: capitalize;
}

.hero-data p {
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 10px 0;
}

.more-information {
	color: var(--text-color-secondary);
	cursor: pointer;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

/* Hero Information Styles */
.hero-information {
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100vw;
}

.hero-information_content {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - 100px);
	position: relative;
	top: 80px;
	width: 100%;
}

.hero-image {
	height: 100%;
	position: relative;
	width: 30%;
}

.hero-image img {
	height: 100%;
	width: 100%;
}

.hero-description {
	background: var(--bg-color-third);
	position: relative;
	padding: 15px 0;
	text-align: center;
	width: 70%;
}

.hero-description h2 {
	color: var(--text-color-secondary);
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0;
	text-transform: capitalize;
}

.hero-description ul {
	padding: 0;
}

.hero-description ul li {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

.hero-description h5 {
	color: var(--text-color-secondary);
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0;
}

.hero-description p {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

.hero-description button {
	background: var(--bg-color-secondary);
	border-radius: 5px;
	color: var(--text-color);
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 5px 30px;
}

@media screen and (max-width: 1199px) {
	.hero-card {
		width: 45%;
	}
}

@media screen and (max-width: 980px) {
	.hero-img {
		height: 250px;
		width: 80%;
	}
}

@media screen and (min-width: 600px) and (min-height: 600px) {
	.hero-image {
		width: 50%;
	}

	.hero-description {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.hero-card {
		width: 100%;
	}

	.hero-image {
		width: 100%;
	}

	.hero-description {
		width: 100%;
	}
}
