.navbar {
	align-items: center;
	background: var(--bg-color-secondary);
	display: flex;
	height: 60px;
	justify-content: space-between;
	left: 0;
	position: fixed;
	padding: 0 30px;
	top: 0;
	width: 100vw;
	z-index: 100;
}

.logo span {
	cursor: pointer;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 2px;
}

.navigation {
	display: flex;
}

.navigation li {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	padding-left: 40px;
}

.navigation-item {
	color: var(--text-color);
}

.active {
	color: var(--bg-color);
	font-weight: 600;
	letter-spacing: 2px;
	transition: all 0.5s ease;
}
